.background-rd {
    background-color: #F2F2F2;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}



.card {
    height: 400px;
    width: 80%;
    border-radius: 15px;
    display: inline-block;
    margin: 7%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;

}

.card-header {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;

    background-size: 100% 280px;
    background-repeat: no-repeat;

}

#card-header1 {
    background-image: url("../img/sharon-mccutcheon-532782-unsplash.jpg");
}

#card-header2 {
    background-image: url("../img/christin-hume-482925-unsplash.jpg");
}

#card-header3 {
    background-image: url("../img/ben-white-131241-unsplash.jpg");
}


.Title-rd h2 {
    margin: 30px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
}

.card h2 {
    text-align: left;
    margin: 4%;
    font-size: 2rem;
    font-weight: 400;
}

.card h4 {
    text-align: left;
    margin-top: 7%;
    margin-left: 7%;
    line-height: 125%;
    font-size: 1.3rem;
    font-weight: 300;
}

@media (min-width:768px) {

    .card {
        height: 400px;
        width: 270px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin: 1%;

    }

    .Title-rd h2 {
        font-size: 3rem;
        font-weight: 300;
    }


    .card h2 {
        margin: 7%;
        font-size: 1.7rem;
        font-weight: 400;
    }

    .card h4 {
        margin-top: 7%;
        margin-left: 7%;
        line-height: 125%;
        font-size: 1.2rem;
        font-weight: 300;
    }
}

@media (min-width:1024px) {
    .card {
        height: 500px;
        width: 300px;
        margin-top: 50px;
        margin-left: 4%;
        margin-bottom: 50px;

    }

    .Title-rd h2 {
        font-size: 4rem;
        font-weight: 300;
    }


    .card h2 {
        margin: 7%;
        font-size: 2rem;
        font-weight: 400;
    }

    .card h4 {
        margin-top: 7%;
        margin-left: 7%;
        line-height: 125%;
        font-size: 1.3rem;
        font-weight: 300;
    }
}
